<%-include('./layout/header.ejs')%>

    <!-- Register Here -->
    <section id="login" class="my-5">
        <div class="container">
            <div class="row">
                <!-- Column-1 -->
                <div class="col-lg-6">
                    <img class="w-100" src="./Images/CollegeStudentsImage-2.jpeg" alt="College Students Image-2"
                        height="100%">
                </div>
                <!-- End Column-1 -->

                <!-- Column-2 -->
                <div class="col-lg-6 bglogin p-4">
                    <form method="post" action="/userInsert" enctype="multipart/form-data">
                        <!-- logo -->
                        <center>
                            <img class="mb-4 rounded-circle" src="./Images/SignUpImage.jpeg" alt="Sign Up Image" width="20%" height="20%">
                        </center>

                        <!-- Heading (Register Here) -->
                        <h1 class="mb-5 text-center">Register Here</h1>

                        <!-- User Name -->
                        <div class="row mb-4">
                            <div class="col-lg-2 text-center bg-secondary rounded text-light fw-light my-auto p-2">User Name</div>
                            <div class="col-lg-10">
                                <input name="n" class="form-control text-capitalize" type="text" placeholder="Enter your name" required>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="row mb-3">
                            <div class="col-lg-2 text-center bg-secondary rounded text-light fw-light my-auto p-2">Email</div>
                            <div class="col-lg-10">
                                <input name="e" class="form-control" type="email"  required>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="row mb-4">
                            <div class="col-lg-2 text-center bg-secondary rounded text-light fw-light my-auto p-2">Password</div>
                            <div class="col-lg-10">
                                <input name="p" class="form-control" type="password" required>
                            </div>
                        </div>

                        <!-- Confirm Password -->
                        <div class="row mb-4">
                            <div class="col-lg-3 text-center bg-secondary rounded text-light fw-light my-auto p-2">Confirm Password</div>
                            <div class="col-lg-9">
                                <input name="cp" class="form-control" type="password" required>
                            </div>
                        </div>

                        <!-- Choose File -->
                        <div class="row mb-4">
                            <div class="col-lg-3 text-center bg-secondary rounded text-light fw-light my-auto p-2">Profile Image</div>
                            <div class="col-lg-9">
                                <input name="image" class="form-control" type="file" required>
                            </div>
                        </div>
                        

                        <!-- Button (Login) -->
                        <center>
                            <button type="submit" class="btn btn-primary mb-5 btn-lg">Register</button>
                        </center>
                        
                    </form>
                </div>
                <!-- End Column-2 -->
            </div>
        </div>
    </section>
    <!-- End Register Here -->

<%-include('./layout/footer.ejs')%>  